<!--
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">

    <title>Test App</title>



    start Mixpanel 
    <script type="text/javascript">(function (e, b) {
        if (!b.__SV) {
            var a, f, i, g;
            window.mixpanel = b;
            a = e.createElement("script");
            a.type = "text/javascript";
            a.async = !0;
            a.src = ("https:" === e.location.protocol ? "https:" : "http:") + '//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';
            f = e.getElementsByTagName("script")[0];
            f.parentNode.insertBefore(a, f);
            b._i = [];
            b.init = function (a, e, d) {
                function f(b, h) {
                    var a = h.split(".");
                    2 == a.length && (b = b[a[0]], h = a[1]);
                    b[h] = function () {
                        b.push([h].concat(Array.prototype.slice.call(arguments, 0)))
                    }
                }

                var c = b;
                "undefined" !== typeof d ? c = b[d] = [] : d = "mixpanel";
                c.people = c.people || [];
                c.toString = function (b) {
                    var a = "mixpanel";
                    "mixpanel" !== d && (a += "." + d);
                    b || (a += " (stub)");
                    return a
                };
                c.people.toString = function () {
                    return c.toString(1) + ".people (stub)"
                };
                i = "disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
                for (g = 0; g < i.length; g++)f(c, i[g]);
                b._i.push([a, e, d])
            };
            b.__SV = 1.2
        }
    })(document, window.mixpanel || []);
    mixpanel.init("6397edeccae8afcf331f7ae9ef1fc0fd", {track_pageview: false});</script>

    end Mixpanel

    <style>
    /*These are now present in index.html so need to include this scipr into this page
        button.page-sections {
            font-size: large !important;
            padding: 12px 50px !important;
            line-height: 24px !important;
        }
        */
    </style>
</head>

<body>

-->
<section ng-controller="AppCtrl">

    <div class="headerbar" ng-hide="testRunning" style="height: 61px;">

        <div class="logopanel pull-left" style="margin-left: 50px;">
            <img src="assets/images/logo.png" width="200px"/>
        </div>
        <div class="pull-left">
            <ul class="headermenu" style="height: 100%;">
                <li class="header-menu-item" style="height: 61px;">
                    <div class="btn-group" style="height: 100%;">
                        <button type="button" class="btn btn-default dropdown-toggle page-sections"
                                ng-click="state.transitionTo('mock_tests');"
                                ng-class="{'selected-header-menu-item': ['mock_tests', 'mock_test'].indexOf(state.current.name) > -1}"
                                style="height: 100%;">
                            MOCK TESTS
                        </button>
                    </div>
                </li>
                <li style="border-right: 1px solid #eee;height: 61px;" class="header-menu-item">
                    <div class="btn-group" style="height: 100%;">
                        <button type="button" class="btn btn-default dropdown-toggle page-sections"
                                ng-click="state.transitionTo('analysis');"
                                ng-class="{'selected-header-menu-item': state.current.name == 'analysis'}"
                                style="height: 100%;">
                            ANALYSIS
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="header-right" style="height: 100%;">
            <ul class="headermenu" style="height: 61px">
                <li class="pull-right header-menu-item" style="height: 100%;">
                    <div class="btn-group" style="height: 100%;">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                style="height: 100%;" ng-cloak>
                            {{user.name}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <!--<li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>-->
                            <li><a href="#" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Log Out</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- header-right -->

    </div>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <div class="mainpanel" ng-class="{'hide-main-margins': testRunning}">

        <div class="contentpanel" ng-class="{'hide-content-padding': testRunning}">
            <div ui-view></div>
        </div>
        <!-- contentpanel -->

    </div>
    <!-- mainpanel -->


</section>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="js/libs/html5shiv.js"></script>
<script src="js/libs/respond.min.js"></script>
<![endif]-->




