<section class="lhs instructions">
  <div class="instructions__instructions">

    <h3 class="instructions__heading">JEE Advanced Overview: </h3>
    <ol>
      <li>
        There are two papers in this exam – <strong>Paper I and Paper II</strong>
      </li>
      <li>
        You have to attempt both the papers and they can only be attempted in an order of <strong>Paper I</strong> first and
        <strong>Paper II</strong> second.
      </li>
      <li>
        Paper II can only be unlocked if you attempt Paper I.
      </li>
      <li>
        You will be started with the attempt of Paper I
      </li>
    </ol>

    <h3 class="instructions__heading">Marks and Duration: </h3>
    <ol start="5">
      <li>
        Total length of this test is 180 minutes.
      </li>
      <li>
        There will be 60 questions and 180 minutes will be given to attempt these questions.
      </li>
      <li>
        There are 3 sections in the question paper consisting of Physics, Chemistry and Mathematics section consisting 20 questions each. 
      </li>
      <li>
        Each question is allotted 3 (three) marks for correct response.
      </li>
      <li>
        Candidates will be awarded marks as stated above in instruction No. 8 for correct response of each question. (1/3) (One third)
        marks will be deducted for incorrect response of each question. No deduction from the total score will be
        made if no response is indicated.
      </li>
    </ol>

    <h3 class="instructions__heading" id="navigation-heading">Navigation: </h3>
    <ol start="10">
      <li>
        There is a countdown timer on the top-right hand side of your screen. It is an decreasing timer which shows the time left
        for you to finish the test. The test will end itself when the timer reaches zero. If you have completed the test in lesser time
        then you can click on the submit button to submit the test.
      </li>
      <li>
        Please select the question number in the question navigation box to open the question.
      </li>
      <li>
        Select the checkbox of an option to answer a multiple choice question.
      </li>
      <li>
        Click on the Save button to save your answer and then navigating to the next question.
      </li>
      <li>
        Click Review later for saving the answer for review and going to the next question.
      </li>
      <li>
        If you click on any question without saving the answer for the current question, answer for the current question will not be saved.
      </li>
      <li>
        If you click on the All Questions button, you will be able to see all the questions. 
      </li>
      <li>
        The Question Navigation Box shown on the right hand side of your screen will give you the status of each question
        using one of the following symbols:
        <dl>

          <div>
            <dt class="instructions-question-color-coding-button">
                <button type="button" class="btn question-number-button ng-binding ng-scope">3</button>
            </dt>
            <dd class="instructions-question-color-coding-label">Questions not visited.</dd>
          </div>

          <div>
            <dt class="instructions-question-color-coding-button">
                <button type="button" class="btn question-number-button ng-binding ng-scope btn-danger">2</button>
            </dt>
            <dd class="instructions-question-color-coding-label">
                Questions not answered.
            </dd>
          </div>

          <div>
            <dt class="instructions-question-color-coding-button">
                <button type="button" class="btn question-number-button ng-binding ng-scope btn-success">1</button>
            </dt>
            <dd class="instructions-question-color-coding-label">
                Questions answered
            </dd>
          </div>

          <div>
            <dt class="instructions-question-color-coding-button">
                <button type="button" class="btn question-number-button ng-binding ng-scope btn-warning">3</button>
            </dt>
            <dd class="instructions-question-color-coding-label">
                Question Marked for Review
            </dd>
          </div>

          <div>
            <dt class="instructions-question-color-coding-button">
                <button type="button" class="btn question-number-button ng-binding ng-scope btn-warning" style="position: relative">
                    <i class="fa fa-check ng-scope" style="position: absolute;top: 0;right: 0;"></i> 1
                </button>
            </dt>
            <dd class="instructions-question-color-coding-label">
                Question Attempted & Marked for Review
            </dd>
          </div>

        </dl>
      </li>
      <li>
        If you have answered the question and you have marked the question for review, your answer for that question will be
        considered in the score calculation.
      </li>
      <li>
        To select the answer, please click on the checkbox for that option.
      </li>      
      <li>
        You have to click Save button to save the answer.
      </li>
      <li>
        Only questions which are Saved or Marked for Review later after answering will be considered for the score calculations.
      </li>
      <li>
        All the Sections in the Test are displayed on the top bar of the screen. You can navigate through any Section by clicking on it.
      </li>
      <li>
        After clicking the Save button for the last question in a Section, you will automatically be taken to the first question
        of the next Section in sequence.
      </li>
    </ol>
  </div>
</section>
