<div ng-show="showAnalysis1">

    <div class="row" ng-show="showAnalysis1">
        <div class="col-md-12">
            <h1 class="analysis-heading">Analysis for {{mockTestName}} ({{ Enums.TARGET_EXAMS[mockTestResponse.target_exam] }})</h1>
        </div> <!-- col-md-12 -->
    </div> <!-- row -->

    <div class="row" ng-show="showAnalysis1">

        <div class="col-md-4">
            <div class="panel panel-primary panel-stat">
                <div class="panel-heading test-analysis-200px-panel test-analysis-cut-off-panel">
                    <div class="stat">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Cut Off</h1>
                            </div> <!-- col-md-12 -->
                        </div> <!-- row -->
                        <div class="row">
                            <div class="col-md-12">
                                <small class="stat-label analysis-small-label">Your Percentage</small>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="progress cut-off-bar">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" 
                                                    aria-valuemin="0" aria-valuemax="100" style="width: {{analysis.percentage_marks}}%">
                                                <span class="sr-only">{{analysis.percentage_marks}}% Complete</span>
                                            </div> <!-- progress-bar progress-bar-info -->
                                        </div> <!-- progress -->
                                    </div> <!-- col-md-10 -->
                                    <div class="col-md-2">
                                        <h5 class="progress-bar-label">{{analysis.percentage_marks.toFixed(1)}}%</h5>
                                    </div> <!-- col-md-2 -->
                                </div> <!-- row -->
                            </div> <!-- col-md-12 -->
                        </div><!-- row -->
                        <div class="mb10"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <small class="stat-label analysis-small-label">Cut Off Percentage</small>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="progress cut-off-bar">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" 
                                                    aria-valuemin="0" aria-valuemax="100" style="width: {{ analysis.cutoff }}%">
                                                <span class="sr-only">{{ analysis.cutoff }}% Complete</span>
                                            </div> <!-- progress-bar progress-bar-danger -->
                                        </div> <!-- progress -->
                                    </div> <!-- col-md-10 -->
                                    <div class="col-md-2">
                                        <h5 class="progress-bar-label">{{ analysis.cutoff.toFixed(1) }}%</h5>
                                    </div> <!-- col-md-2 -->
                                </div> <!-- row -->
                            </div> <!-- col-md-12 -->
                        </div><!-- row -->
                    </div> <!-- stat -->
                </div> <!-- panel-heading test-analysis-200px-panel -->
            </div> <!-- panel panel-primary panel-stat -->
        </div> <!-- col-md-4 -->

        <div class="col-md-4">
            <div class="panel panel-primary panel-stat">
                <div class="panel-heading test-analysis-200px-panel test-analysis-overall-score-panel">
                    <div class="stat">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Overall Score</h1>
                            </div> <!-- col-md-12 -->
                        </div> <!-- row -->
                        <div class="row">
                            <div class="col-md-12">
                                <small class="stat-label analysis-small-label">Your Score</small>
                                <h4>{{analysis.total_marks.toFixed(1)}} out of {{analysis.maximum_marks}} ({{analysis.percentage_marks.toFixed(1)}}%)</h4>
                            </div> <!-- col-md-12 -->
                        </div> <!-- row -->
                        <div class="mb15"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <small class="stat-label analysis-small-label">Percentile</small>
                                <h4>{{analysis.percentile.toFixed(1)}} Percentile</h4>
                            </div> <!-- col-md-12 -->
                        </div> <!-- row -->
                    </div> <!-- stat -->
                </div> <!-- panel-heading test-analysis-200px-panel -->
            </div> <!-- panel panel-primary panel-stat -->
        </div> <!-- col-md-4 -->

        <div class="col-md-4">
            <div class="panel panel-primary panel-stat rank-predictor-main-panel">
                <div class="panel-heading test-analysis-200px-panel test-analysis-rank-predictor-panel" style="position: relative;">
                    <div class="stat">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Expected College & Rank </h1>
                            </div> <!-- col-md-12 -->
                        </div> <!-- row -->
                        <!-- <div ng-hide="analysis.expected_rank" class="row">
                            <div class="col-md-12">
                                No Rank and College data
                            </div>
                        </div> -->
                        <!-- <div class="row" ng-show="analysis.expected_rank"> -->
                        <div class="row">
                            <div class="col-md-12">
                                <small class="stat-label analysis-small-label">Expected Colleges</small>
                                <h4>IIT Delhi</h1>
                                <!-- <h4>{{analysis.expected_colleges.join(',')}}</h4> -->
                            </div> <!-- col-md-12 -->
                        </div> <!-- row -->
                        <!-- <div class="mb15" ng-show="analysis.expected_rank"></div> -->
                        <div class="mb15"></div>
                        <!-- <div class="row" ng-show="analysis.expected_rank"> -->
                        <div class="row">
                            <div class="col-md-12">
                                <small class="stat-label analysis-small-label">Expected Rank</small>
                                <!-- <h4>{{analysis.expected_rank}} {{ Enums.TARGET_EXAMS[mockTestResponse.target_exam] }}</h4> -->
                                <h4>2500 to 3000</h4>
                            </div> <!-- col-md-12 -->
                        </div> <!-- row -->
                    </div> <!-- stat -->
                    <div class="rank-predictor-overlay">
                        <div class="rank-predictor-overlay-text">
                            <h4>Perform well to unlock rank predictor!</h4>
                        </div>
                    </div>
                </div> <!-- panel-heading test-analysis-200px-panel -->
            </div> <!-- panel panel-primary panel-stat -->
        </div> <!-- col-md-4 -->
        
    </div> <!-- row (Cut Off, Overall Score, Expected College & Rank) -->

    <div class="row" ng-show="showAnalysis1">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading analysis-panel-heading test-analysis-score-summary-heading">
                    <h1 class="analysis-panel-title">Score Summary</h1>
                    <p class="lead">
                        This table summarises your score in the three categories: <br> <br>
                        <strong>Correct:</strong> Number of correct attempts. <br>
                        <strong>Wrong:</strong> Number of incorrect attempts. <br>
                        <strong>Not Attempted:</strong> Number of questions not attempted.
                        <br><br>
                    </p> <!-- lead -->
                </div> <!-- panel-heading -->
                <div class="panel-body analysis-table-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Subject</th>
                                    <th>Correct</th>
                                    <th>Wrong</th>
                                    <th>Not Attempted</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(subjectId, data) in analysis.subjects">
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.correct.length }}</td>
                                    <td>{{ data.incorrect.length }}</td>
                                    <td>{{ data.not_attempted.length }}</td>
                                    <td>{{ data.marks }}</td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        TOTAL
                                    </td>
                                    <td>
                                        {{ analysis.total_marks }}
                                    </td>
                                </tr>
                            </tbody>
                        </table> <!-- table table-striped -->
                    </div> <!-- table-responsive -->
                </div> <!-- panel-body -->
            </div> <!-- panel panel-primary -->
        </div> <!-- col-md-5 -->

        <div class="col-md-7">
            <div class="panel panel-primary">
                <div class="panel-heading analysis-panel-heading test-analysis-time-management-heading">
                    <h1 class="analysis-panel-title">Attempt Quality</h1>
                    <p class="lead">
                        How good is your attempt quality? <br> <br>
                        <strong>Great Attempt: </strong>
                        You nailed it! You solved it correct and that too within time!<br>
                        <strong>Fine Attempt: </strong>
                        You took more time than expected to solve the question but thanks God it was correct!<br>
                        <strong>Imperfect Attempt: </strong>
                        Though you took less time but you marked the wrong choice.<br>
                        <strong>Careless Attempt: </strong>
                        What were you up to dude? You attempted it incorrect and spent more time than expected! 
                    </p>
                </div> <!-- panel-heading -->
                <div class="panel-body analysis-table-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Subject</th>
                                    <th>Great Attempt</th>
                                    <th>Fine Attempt</th>
                                    <th>Imperfect Attempt</th>
                                    <th>Careless Attempt</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(subjectId, data) in analysis.subjects">
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.perfect_attempts.length }}</td>
                                    <td>{{ data.overtime_attempts.length }}</td>
                                    <td>{{ data.wasted_attempts.length }}</td>
                                    <td>{{ data.completely_wasted_attempts.length }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        TOTAL
                                    </td>
                                    <td>
                                        {{ analysis.perfect.length }}
                                    </td>
                                    <td>
                                        {{ analysis.overtime.length }}
                                    </td>
                                    <td>
                                        {{ analysis.wasted.length }}
                                    </td>
                                    <td>
                                        {{ analysis.completely_wasted.length }}
                                    </td>
                                </tr>
                            </tbody>
                        </table> <!-- table table-striped -->
                    </div> <!-- table-responsive -->
                </div> <!-- panel-body -->
            </div> <!-- panel panel-primary -->
        </div> <!-- col-md-7 -->
    </div> <!-- row (Score Summary, Time Management) -->

    <div class="row">
        <div class="col-md-12">
            <h2 style="margin-top: 0px;">Subject Wise Analysis</h2>
        </div>
    </div> <!-- subject wise analysis -->

    <div class="row" ng-show="showAnalysis1">
        <div class="col-md-12" ng-repeat="(subjectId, data) in analysis.subjects">
            <div class="panel panel-primary subject-analysis">
                <div class="panel-heading {{ getSubjectClassName(data.name) }}">
                    <div class="row">
                        <div class="col-md-3">
                            <h1 class="analysis-panel-title">{{ data.name }}</h1>
                        </div> <!-- col-md-3 -->
                        <div class="col-md-2 col-md-offset-7">
                            <button class="btn btn-darkblue view-question-analysis-button" ng-click="scrollToSubject(subjectId)">View Questions</button>
                        </div> <!-- col-md-2 -->
                    </div> <!-- row -->
                    <div class="mb20"></div>
                    <div class="row">
                        <div class="col-md-2">
                            <small class="subject-analysis-label">Attempted</small>
                            <h4>{{ data.correct.length + data.incorrect.length }} / {{ data.correct.length + data.incorrect.length + data.not_attempted.length }}</h4>
                        </div> <!-- col-md-2 -->
                        <div class="col-md-2">
                            <small class="subject-analysis-label">Correct</small>
                            <h4>{{ data.correct.length }}</h4>
                        </div> <!-- col-md-2 -->
                        <div class="col-md-2">
                            <small class="subject-analysis-label">Wrong</small>
                            <h4>{{ data.incorrect.length }}</h4>
                        </div> <!-- col-md-2 -->
                        <div class="col-md-2">
                            <small class="subject-analysis-label">Accuracy</small>
                            <h4>{{ data.accuracy.toFixed(1) }}%</h4>
                        </div> <!-- col-md-2 -->
                        <div class="col-md-2">
                            <small class="subject-analysis-label">Score</small>
                            <h4>{{ data.marks.toFixed(1) }}</h4>
                        </div> <!-- col-md-2 -->
                    </div> <!-- row -->
                </div> <!-- panel-heading -->
                <div class="panel-body subject-analysis">
                    <div class="row" ng-repeat="chunk in data.topic_ids | partition:4">
                        <div class="row">
                            <div class="col-md-3" ng-repeat="topic_id in chunk">
                                <div class="panel panel-stat" style="cursor: pointer;" ng-click="showTopicQuestions(topic_id)" ng-class="{'panel-primary': topic_id != shownTopic, 'panel-success': topic_id == shownTopic}">
                                    <div class="panel-heading">
                                        <div class="stat">
                                            <div class="row">
                                                <div class="col-md-12" style="min-height: 52px;">
                                                    <h3>{{ analysis.topics[topic_id].name }}</h3>
                                                </div> <!-- col-md-12 -->
                                            </div> <!-- row -->
                                            <div class="mb10"></div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <small class="stat-label subject-analysis-topic-label">Correct</small>
                                                    <h4>{{ analysis.topics[topic_id].correct.length }}</h4>
                                                </div>
                                                <div class="col-md-4">
                                                    <small class="stat-label subject-analysis-topic-label">Incorrect</small>
                                                    <h4>{{ analysis.topics[topic_id].incorrect.length }}</h4>
                                                </div>
                                                <div class="col-md-5">
                                                    <small class="stat-label subject-analysis-topic-label">Not Attempted</small>
                                                    <h4>{{ analysis.topics[topic_id].not_attempted.length }}</h4>
                                                </div>
                                            </div> <!-- row -->
                                        </div> <!-- stat -->
                                    </div> <!-- panel-heading -->
                                </div> <!-- panel panel-primary panel-stat -->
                            </div> <!-- col-md-3 -->
                        </div> <!-- row -->
                        <div class="row" style="padding-left: 25px;">
                            <div class="col-sm-6 col-md-12" ng-repeat="topic_id in chunk" ng-show="shownTopic == topic_id">
                                <div class="panel indivual-ques-analysis-view" data-scroll-qid="{{ question_id }}" ng-repeat="question_id in [].concat(analysis.topics[topic_id].correct, analysis.topics[topic_id].incorrect, analysis.topics[topic_id].not_attempted)"
                                     ng-class="{'panel-primary': data.not_attempted.indexOf(question_id) > -1, 'panel-success': data.correct.indexOf(question_id) > -1, 'panel-danger': data.incorrect.indexOf(question_id) > -1}">
                                    <div class="panel-heading" style="color: white;">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <h4 class="question-analysis-ques-number">{{ $index+1 }}</h4>
                                            </div> <!-- col-md-1 -->
                                            <div class="col-md-2">
                                                <small class="question-analysis-attribute-label">Difficulty</small>
                                                <h5>{{ questionsResponse[question_id].difficulty }} / 5</h5>
                                            </div> <!-- col-md-2 -->
                                            <div class="col-md-2">
                                                <small class="question-analysis-attribute-label">Type</small>
                                                <h5>{{ Enums.QUESTION_NATURE[questionsResponse[question_id].nature] }}</h5>
                                            </div> <!-- col-md-2 -->
                                            <div class="col-md-2">
                                                <small class="question-analysis-attribute-label">Ideal Time</small>
                                                <h5>{{ questionsResponse[question_id].average_time }} seconds</h5>
                                            </div> <!-- col-md-2 -->
                                            <div class="col-md-2">
                                                <small class="question-analysis-attribute-label">Your Time</small>
                                                <h5>{{ answers[question_id].time | number:0 }} seconds</h5>
                                            </div> <!-- col-md-2 -->
                                            <div class="col-md-2" ng-if="data.perfect_attempts.indexOf(question_id) > -1">
                                                <small class="question-analysis-attribute-label">Attempt Type</small>
                                                <h5>Perfect Attempt</h5>
                                            </div> <!-- col-md-2 -->
                                            <div class="col-md-2" ng-if="data.wasted_attempts.indexOf(question_id) > -1">
                                                <small class="question-analysis-attribute-label">Attempt Type</small>
                                                <h5>Wasted Attempt</h5>
                                            </div> <!-- col-md-2 -->
                                            <div class="col-md-2" ng-if="data.overtime_attempts.indexOf(question_id) > -1">
                                                <small class="question-analysis-attribute-label">Attempt Type</small>
                                                <h5>Overtime Attempt</h5>
                                            </div> <!-- col-md-2 -->
                                            <div class="col-md-2" ng-if="data.completely_wasted_attempts.indexOf(question_id) > -1">
                                                <small class="question-analysis-attribute-label">Attempt Type</small>
                                                <h5>Completely Wasted Attempt</h5>
                                            </div> <!-- col-md-2 -->
                                        </div> <!-- row -->
                                    </div> <!-- panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4 col-md-offset-8">
                                                <div class="solution-concept-ques-analysis-buttons">
                                                    <button class="btn btn-warning" ng-show="[questionsResponse[question_id].status.proof_read_text_solution, questionsResponse[question_id].status.proof_read_video_solution].indexOf('1') > -1" ng-click="showSolution(question_id)">View Solution</button>
                                                    <button class="btn btn-warning" ng-show="ontology[questionsResponse[question_id].ontology[questionsResponse[question_id].ontology.length-1]].theory" ng-click="showConcept(question_id)">View Key Concept</button>
                                                </div> <!-- solution-concept-ques-analysis-buttons -->
                                            </div> <!-- col-md-4 col-md-offset-8 -->
                                        </div> <!-- row -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="media-body">
                                                    <h4 class="filename" data-id="{{ questionsResponse[question_id].id }}" ng-bind-html="sce.trustAsHtml(questionsResponse[question_id].content)"></h4>
                                                    <ul class="question-options-list">
                                                        <li class="content question-options question-answer-option" ng-repeat="option in questionsResponse[question_id].all_options track by $index">
                                                            <div class="opt-container" ng-class="{'correct-opt-container': questionsResponse[question_id].correct_options.indexOf($index) > -1, 'incorrect-opt-container': answers[question_id].options.indexOf($index) > -1 && questionsResponse[question_id].correct_options.indexOf($index) == -1}">
                                                                <span class="top-option-label answer-option-label" ng-class="{'correct': questionsResponse[question_id].correct_options.indexOf($index) > -1, 'incorrect': answers[question_id].options.indexOf($index) > -1 && questionsResponse[question_id].correct_options.indexOf($index) == -1, 'not_attempted': answers[question_id].options.indexOf($index) == -1 && questionsResponse[question_id].correct_options.indexOf($index) == -1}">{{ letterAt($index) }}</span>
                                                                <div class="question-answer-text" ng-bind-html="sce.trustAsHtml(option)"></div> <!-- question-answer-text -->
                                                <span class="bottom-option-label correct question-correct-wrong-label" ng-if="questionsResponse[question_id].correct_options.indexOf($index) > -1 && answers[question_id].options.indexOf($index) == -1">
                                                     <span class="glyphicon glyphicon-ok"></span> Correct Answer
                                                </span> <!-- bottom-option-label correct question-correct-wrong-label -->
                                                <span class="bottom-option-label correct question-correct-wrong-label" ng-if="questionsResponse[question_id].correct_options.indexOf($index) > -1 && answers[question_id].options.indexOf($index) > -1">
                                                    <span class="glyphicon glyphicon-ok"></span> Your Answer
                                                </span>
                                                <span class="bottom-option-label incorrect question-correct-wrong-label" ng-if="questionsResponse[question_id].correct_options.indexOf($index) == -1 && answers[question_id].options.indexOf($index) > -1">
                                                    <span class="glyphicon glyphicon-remove"></span> Your Answer
                                                </span> <!-- bottom-option-label incorrect questionc-correct-wrong-label -->
                                                            </div> <!-- opt-container correct-opt-container -->
                                                        </li> <!-- content question-options question-answer-option -->

                                                    </ul> <!-- question-options-list -->
                                                </div> <!-- media-body -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- panel-body -->
            </div> <!-- panel panel-primary -->
        </div> <!-- col-md-12 -->

    </div> <!-- row (Subject Analysis of all the subjects in the test) -->

</div> <!-- div containing the main analysis -->

<div class="row" ng-show="pdf_report_url">
    <div class="col-md-8">
        <h2 class="analysis-heading" style="font-size: 25px;">View report <a href="{{ pdf_report_url }}">here</a></h2>
    </div>
</div>

<div class="col-md-12" ng-show="showAnalysis1" style="text-align: center;">
    <button class="btn btn-primary" ng-click="showQAnalysis()">View Question Wise Analysis</button>
</div>
