<head>
 
    <style>
        .has-error .form-control {
            border-color: #a94442 !important;
        }
    </style>
</head>

<body class="signin">


<section>
  
    <div class="signinpanel">
        
        <div class="row">
            
            <div class="col-md-6">

                <div class="signup-info">
                    <div class="logopanel">
                        <img src="assets/images/logo.png" style="width:300px" />
                    </div><!-- logopanel -->

                    <div class="mb10"></div>

                    <h3><strong>Exam Preparation Simplified.</strong></h3>

                    <div class="mb20"></div>

                    <div class="feat-list">
                        <img src="assets/images/mentoring-feature.png" />
                        <h4 class="text-success">Mentoring &amp; Speed Tips</h4>
                        <p></p>
                    </div>

                    <div class="feat-list">
                        <img src="assets/images/analytics-feature.png" />
                        <h4 class="text-success">Strategize Your Prepration</h4>
                        <p></p>
                    </div>

                    <div class="feat-list">
                        <img src="assets/images/content-feature.png" />
                        <h4 class="text-success">Best In Class Content</h4>
                        <p></p>
                    </div>

                    <div class="feat-list">
                        <img src="assets/images/customize-feature.png" />
                        <h4 class="text-success">Personalized Preparation</h4>
                        <p></p>
                    </div>

                </div><!-- signup-info -->

            </div>
            
            <div class="col-md-6">
                
                <form method="post" action="/student_forgot_password">
                    <h4 class="nomargin">Forgot Password</h4>
                    <p class="mt5 mb20">Enter your email to help us reset your password</p>
                    <p class="mt5 mb20">Not a member? <a href="/student_signup"><strong>Sign Up</strong></a></p>
                    <div class="form-group">
                        {% if error %}
                        <label for="name" class="error">No such email registered with us</label>
                        {% endif %}
                        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" class="form-control email" placeholder="email" name="email" {% if email %} value="{{email}}" {% endif %}/>
                        <input type="hidden" name="host" id="host" value="" />
                        <button class="btn btn-success btn-block">Submit</button>
                    </div>
                    
                </form>
            </div><!-- col-sm-5 -->
            
        </div><!-- row -->
        
    </div><!-- signin -->
  
</section>


<script src="js/libs/jquery-1.10.2.min.js"></script>
<script src="js/libs/jquery-migrate-1.2.1.min.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
<script src="js/libs/modernizr.min.js"></script>
<script>
jQuery(document).ready(function(){
    $('#host').val(location.origin);
    });
</script>
</body>

